/**
 * Spacing amount variations.
 */

spacing--extra-large            ?= 15px
spacing--extra-large-vertical   ?= 15px
spacing--extra-large-horizontal ?= 28px
spacing--xl                      = spacing--extra-large
spacing--xl-vertical             = spacing--extra-large-vertical
spacing--xl-horizontal           = spacing--extra-large-horizontal
spacing--xl-y                    = spacing--extra-large-vertical
spacing--xl-x                    = spacing--extra-large-horizontal

spacing--large            ?= 10px
spacing--large-vertical   ?= 10px
spacing--large-horizontal ?= 16px
spacing--lg                = spacing--large
spacing--lg-vertical       = spacing--large-vertical
spacing--lg-horizontal     = spacing--large-horizontal
spacing--lg-y              = spacing--large-vertical
spacing--lg-x              = spacing--large-horizontal

spacing--base             ?= 6px
spacing--base-vertical    ?= 6px
spacing--base-horizontal  ?= 12px
spacing--md                = spacing--base
spacing--md-vertical       = spacing--base-vertical
spacing--md-horizontal     = spacing--base-horizontal
spacing--md-y              = spacing--base-vertical
spacing--md-x              = spacing--base-horizontal

spacing--small            ?= 5px
spacing--small-vertical   ?= 5px
spacing--small-horizontal ?= 10px
spacing--sm                = spacing--small
spacing--sm-vertical       = spacing--small-vertical
spacing--sm-horizontal     = spacing--small-horizontal
spacing--sm-y              = spacing--small-vertical
spacing--sm-x              = spacing--small-horizontal

spacing--extra-small            ?= 4px
spacing--extra-small-vertical   ?= 4px
spacing--extra-small-horizontal ?= 9px
spacing--xs                      = spacing--extra-small
spacing--xs-vertical             = spacing--extra-small-vertical
spacing--xs-horizontal           = spacing--extra-small-horizontal
spacing--xs-y                    = spacing--extra-small-vertical
spacing--xs-x                    = spacing--extra-small-horizontal
