/**
 * Spacing amount variations.
 */

spacing--extra-large ?= 15px
spacing--xl           = spacing--extra-large

spacing--large       ?= 10px
spacing--lg           = spacing--large

spacing--base        ?= 6px
spacing--md           = spacing--base

spacing--small       ?= 5px
spacing--sm           = spacing--small

spacing--extra-small ?= 4px
spacing--xs           = spacing--extra-small
